:root{
    --rojo-gonavi: rgb(194, 33, 54);
    --verde: rgb(43,138,128);
    --gris: rgb(226,226,226);
}
@font-face{
    font-family:'FontAwesome';
    src: url('/fuentes/fontawesome-webfont.eot?v=4.7.0');
    src: url('/fuentes/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
         url('/fuentes/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
         url('/fuentes/fontawesome-webfont.woff?v=4.7.0') format('woff'),
         url('/fuentes/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header{
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 240px;
    background-color: var(--light);
}
.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-contenedor{
    float: left;
}
.header-main-contenedor{
    position: fixed;
    display: block;
    height: 130px;
    width: 100%;
    background-color: var(--gris);
    box-shadow: 0px 3px 34px 0px rgba(0,0,0,0.54);
    z-index: 999;
}
.header-main-icono{
    float: left;
    display: block;
    width: 158px;
    height: 112px;
    margin-top: 5px;
    margin-left: 50px;
}
.header-main-logo{
    width: 112px;
    height: 112px;
    background-image: url('/img/icono.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.header-main-menu{
    float: left;
    display: block;
    width: auto;
    height: inherit;
}
.header-main-menu a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 51px 50px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}
.header-main-menu a:hover, .header-main-menu a.activo {
    background-color: darkgray;
    color: black;
}
.header-main-menu .icono-barras{
    display: none;
}

@media (max-width: 1202px) {

    .header-main-menu{
        float: right;
        width: inherit;
    }
    .header-main-menu a {
        display: none;
    }
    .header-main-menu .icono-barras {
        float: right;
        display: block;
    }
    .header-main-icono{
        position: absolute;
        width: 300px;
    }
    .header-main-logo{
        background-image: url('/img/bitacora.png');
        height: 100px;
        width: 375px;
        margin-top: 9px;
    }
    .responsive {
        position: relative;
        float: right;
    }
    .responsive .icono-barras {
        position: absolute;
        right: 0;
        top: 0;
    }
    .responsive a:not(:first-child) {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        font-size: 18px;
        background-color: var(--gris);
        border-bottom: 1px dotted gray;
    }
    .responsive a:not(:first-child):hover {
        background-color: darkgray;
    }
}
.header-menu{
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid;
}
.header-menu-boton{
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-image: url('/img/menu.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header-menu-opciones{
    display: block;
}
.gonavi-logo, .bitacora-logo{
    display: inline-block;
    width: 338px;
    height: 69px;
    margin-top: 10px;
    margin-left: 10px;
    border-right: 3px solid var(--rojo-gonavi);
}
.bitacora-logo{
    width: 250px;
    height: 69px;
    margin-top: unset;
    margin-left: 20px;
    border-right: unset;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tab button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: unset;
}

.tab button:hover {
    background-color: unset;
    font-weight: 700;
    color: var(--verde);
    border-bottom: 2px solid var(--verde);
}

.tab button.activo {
    color: var(--verde);
    font-weight: 700;
    border-bottom: 2px solid var(--verde);
}
.container > label{
    font-size: 25px;
    font-weight: 700;
}
footer{
    margin: 50px 0 50px 0;
}
.boton-catalogo, .boton-catalogo-verde{
    width: 330px;
    height: 89px;
    color: white;
    background-color: var(--rojo-gonavi);
    border: 0;
    font-size: 20px;
    font-weight: 700;
}
.boton-catalogo:hover, .boton-catalogo-verde:hover{
    color: var(--rojo-gonavi);
    border: 2px solid var(--rojo-gonavi);
    background-color: white;
}
.boton-catalogo-verde:hover{
    color: var(--verde);
    border: 2px solid var(--verde);
}
.fa-bars:before{
    content: "\f0c9";
}
