:root{
    --rojo-gonavi: rgb(194, 33, 54);
    --verde: rgb(43,138,128);
}
header{
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 240px;
    background-color: var(--light);
}
.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-contenedor{
    float: left;
}
.header-menu{
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid;
}


/* .header-menu-opciones:hover,.header-menu-boton:hover+.header-menu-opciones{
    display: block;
} */

.header-menu-boton{
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-image: url('/img/menu.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header-menu-opciones{
    display: block;
}
div.header-menu-opciones > ul {
    list-style: none;
    width: 200px;
    height: 28px;
    padding-inline-start: 0px;
}
div.header-menu-opciones > ul > li{
    display: inline;
    color: var(--rojo-gonavi);
    padding: 27px 20px 26px 55px;
    cursor: pointer;
}
div.header-menu-opciones > ul > li:hover{
    color: rgb(47,85,151);
    background-color: white;
}
div.header-menu-opciones > ul > li > a {
    cursor: pointer;
}
.gonavi-logo, .bitacora-logo{
    display: inline-block;
    width: 338px;
    height: 69px;
    margin-top: 10px;
    margin-left: 10px;
    border-right: 3px solid var(--rojo-gonavi);
}
.bitacora-logo{
    width: 250px;
    height: 69px;
    margin-top: unset;
    margin-left: 20px;
    border-right: unset;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tab button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: unset;
}

.tab button:hover {
    background-color: unset;
    font-weight: 700;
    color: var(--verde);
    border-bottom: 2px solid var(--verde);
}

.tab button.activo {
    color: var(--verde);
    font-weight: 700;
    border-bottom: 2px solid var(--verde);
}
.container > label{
    font-size: 25px;
    font-weight: 700;
}
footer{
    margin: 50px 0 50px 0;
}
.boton-catalogo, .boton-catalogo-verde{
    width: 330px;
    height: 89px;
    color: white;
    background-color: var(--rojo-gonavi);
    border: 0;
    font-size: 20px;
    font-weight: 700;
}
.boton-catalogo:hover, .boton-catalogo-verde:hover{
    color: var(--rojo-gonavi);
    border: 2px solid var(--rojo-gonavi);
    background-color: white;
}
.boton-catalogo-verde:hover{
    color: var(--verde);
    border: 2px solid var(--verde);
}
