:root{
    --verde-logo: rgb(43,138,128);
}
header{
    height: 200px;
}
.agregar-grua-contenedor, .modificar-grua-contenedor, .eliminar-grua-contenedor, .agregar-man-contenedor, .modificar-man-contenedor, .eliminar-man-contenedor{
    display: inline-block;
    width: 327px;
    height: 648px;
    border: 1px solid gray;
    margin: 20px;
}
.modificar-grua-contenedor{
    height: 732px;
}
.eliminar-grua-contenedor{
    height: 314px;
}
.agregar-man-contenedor, .modificar-man-contenedor{
    height: 740px;
}
.eliminar-man-contenedor{
    height: 321px;
}
.agregar-grua-arriba, .modificar-grua-arriba, .eliminar-grua-arriba, .agregar-man-arriba, .modificar-man-arriba, .eliminar-man-arriba{
    display: inline-block;
    width: 325px;
    height: 96px;
    color: white;
    background-color: var(--verde-logo);
    border-bottom: 1px solid gray;
}
.agregar-grua-titulo, .modificar-grua-titulo, .eliminar-grua-titulo, .agregar-man-titulo, .modificar-man-titulo, .eliminar-man-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}
.agregar-grua-titulo > label, .modificar-grua-titulo > label, .eliminar-grua-titulo > label, .agregar-man-titulo > label, .modificar-man-titulo > label, .eliminar-man-titulo > label{
    font-size: 18px;
    font-weight: 700;
}
.agregar-grua-abajo, .modificar-grua-abajo, .eliminar-grua-abajo, .agregar-man-abajo, .modificar-man-abajo, .eliminar-man-abajo{
    display: inline-block;
    width: 325px;
    height: 450px;
}
.modificar-grua-abajo{
    width: 605px;
}
div.container{
    margin-top: 20px;
    display: block;
}
.agregar-grua-tipo, .agregar-grua-fabricante, .agregar-grua-modelo, .agregar-grua-estado, .agregar-grua-boton, .modificar-grua-seleccion, .modificar-grua-tipo, .modificar-grua-fabricante, .modificar-grua-modelo, .modificar-grua-estado, .modificar-grua-boton, .agregar-man-grua, .agregar-man-mantenimiento, .agregar-man-fecha, .agregar-man-horas, .agregar-man-observaciones, .agregar-man-boton, .modificar-man-grua, .modificar-man-mantenimiento, .modificar-man-fecha, .modificar-man-horas, .modificar-man-observaciones, .modificar-man-boton{
    display: block;
    width: 180px;
    margin-bottom: 10px;
}
.agregar-man-mantenimiento, .agregar-man-fecha, .modificar-man-mantenimiento, .modificar-man-fecha{
    width: 203px;
}
.agregar-man-fecha, .modificar-man-fecha{
    width: 213px;
}
.agregar-grua-boton, .modificar-grua-boton, .eliminar-grua-boton{
    width: 150px;
}
#agregargruadireccion, #modificargruadireccion{
    display: inline-block;
    background-color: white;
    border: 0.5px solid black;
    padding-right: 40px;
    color: black;
}
#agregargruacarga, #modificargruacarga{
    position: absolute;
    display: inline-block;
    background-color: unset;
    background-image: url('/img/cargar-verde.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
    margin-left: -32px;
    margin-top: 7px;
    cursor: pointer;
    z-index: 99;
}
#agregargruacarga:hover, #modificargruacarga:hover{
    background-image: url('/img/cargar-rojo.png');
}
#agregargruafoto, #modificargruafoto{
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: -24px;
    cursor: pointer;
    opacity: 0;
}
.manual-arriba{
    background-color: var(--verde-logo);
}
div > label{
    display: block;
    font-size: 18px;
    font-weight: 700;
}
div > input, div > select{
    display: block;
    padding: 7px;
    width: 200px;
}
div > input[type="submit"]{
    background-color: var(--verde-logo);
    width: 287px;
    height: 60px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: 0;
    margin-top: 10px;
}
div > input[type="submit"]:hover{
    background-color: var(--light);
    color: var(--verde-logo);
    border: 1px solid var(--verde-logo);
}
label.respuesta{
    margin-top: 5px;
    font-size: 15px;
    padding-bottom: 5px;
}
